@tailwind base;
@tailwind components;
@tailwind utilities;


ol, ul, menu {
    list-style: inside;
}

.slick-dots.custom-slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.slick-dots.custom-slick-dots li {
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
}

.slick-dots.custom-slick-dots li.slick-active .slider-container {
  border: 3px solid #3b82f6 !important;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

.slick-dots.custom-slick-dots li .slider-container {
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
